
p {
    font-family: 'Rubik';
    font-size: 14px;
}

h1 {
    font-family: 'Rubik';
}

h2 {
    font-family: 'Rubik';
}

h3 {
    font-family: 'Rubik';
}


label {
    font-family: 'Rubik';
}

button {
    padding: 5px;
    background-color: rgb(46, 150, 235);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Rubik";
}

button:hover{
    cursor: pointer;
    background-color: rgb(115, 124, 247);
}

.img-size{
    width: 400px;
}

.electricity-pole-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    cursor: pointer;
}

.electricity-pole-imgs img {
    width: 200px;
}

.navbar-float {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

.navbar-float li {
    float: left;
}

.navbar-float li a {
    font-family: Verdana;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: rgb(27, 214, 83);

}

.active:hover {
    background-color: rgba(37, 247, 100, 0.582);
}

a:not(.active):hover {
    background-color: #474747;
}

.title-padding {
    padding: 20px;
    font-family: 'Rubik';
}

.list-style {
    list-style-type: none;
}

.correct-answer {
    background-color: rgb(67, 168, 67);
}

.wrong-answer {
    background-color: rgb(231, 150, 150);
}

.image-container {
    opacity: 1;
    transition: opacity 1s ease;
    cursor: pointer;
}

.image-container img.answered {
    /* filter: sepia(1) hue-rotate(90deg) saturate(2); */
    opacity: 0.5;
    
}

.correct-answer-img {
    filter: sepia(1) hue-rotate(90deg) saturate(2);
}
.wrong-answer-img {
    filter: sepia(1) hue-rotate(-30deg) saturate(2);
}

.footer-space {
    margin-bottom: 50px;
    margin-top: 50px;
}

.progress {
    padding: 10px;
    margin-bottom: 10px;
}